---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-6xl text-white">Spacex Launch</h1>
  </main>
</Layout>
