---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIcon from "../components/icons/LinkedIn.astro";
import Githubicon from "../components/icons/Github.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import SocialP from "../components/SocialP.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experiencia from "../components/Experiencia.astro";
import Container from "../components/Container.astro";
import CodeIcon from "../components/icons/Code.astro";
import UserIcon from "../components/icons/User.astro";
import Projects from "../components/Projects.astro";
import Aboutme from "../components/Aboutme.astro";
---

<Layout
  title="Portfolio de christopher - Desarrollador y progamador web - Especialista en base de datos"
  
>
  <main class="px-4 over">

    <Container class="py-44 pb-32" >
      <img
        class="rounded-full size-12 mb-4"
        src="https://cdn.dribbble.com/users/2602461/screenshots/17434037/media/3eba488c0b46b44b4c41fc8e087b91bc.png"
        alt="Foto-Perfil"
      />

      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex justify-start flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy chistopher

        <a
          href="https://www.linkedin.com/in/christopher-jos%C3%A9-ramos-torres-54b879279/"
          class="flex justify-center items-center"
          target="_blank"
          rel="noopener"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap opacity-80 max-w-[700px]:">
        Programador Junior con experiencia. <strong class="text-[#73dfbf] opacity-90">Desarrollador web y aplicativo
        movil</strong> de Lima, Perú. Además, me especializo en gestión de bases de datos.
        Enfoque en estructuras eficientes y seguridad.
      </h2>
      <nav class="flex gap-x-2 mt-8">
        <SocialP
          href="https://www.linkedin.com/in/christopher-jos%C3%A9-ramos-torres-54b879279/"
        >
          <LinkedIcon class=" size-4 md:size-6 " />
          LinkedIn
        </SocialP>
        <SocialP href="https://github.com/Christ-byte">
          <Githubicon class=" size-4 md:size-6" />
          Github
        </SocialP>
        <SocialP href="mailto:ofchrist2@gmail.com">
          <MailIcon class=" size-4 md:size-6" />
          ofchrist2@gmail.com
        </SocialP>
      </nav>
    </Container>

    <Container id="experiencia" class="">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-6" />
        Experiencia Laboral
      </h2>
      <Experiencia />
    </Containe>

    <Container id="proyectos" class="">
      <h2 class="text-3xl font-semibold  flex gap-x-3 items-center">
        <CodeIcon class="size-6" />
        Proyectos
      </h2>
      <Projects />
    </Container>

    <Container id="sobre-mi" class="">
      <h2 class="text-3xl font-semibold  flex gap-x-3 items-center">
        <UserIcon class="size-6" />
        Sobre mi
      </h2>
      <Aboutme />
    </Container>
  </main>
</Layout>
