<article class="flex flex-col items-center justify-between gap-8 md:flex-row mt-6">
  <div class="max-w-xl  overflow-hidden text-pretty text">
    <p class="pb-6 ">
      Mi nombre es Christopher José, aunque suelen llamarme Chris. A los 12
      años, empecé a explorar la creación web y actualmente estudio Ingeniería
      de Software.  He liderado equipos en la <strong class="font-mono text-[#73dfbf] ">creación de data centers y páginas
      web.</strong>
    </p>
    <p class="pb-6 ">
      Colaboré en soluciones para data centers, aplicaciones moviles, mejorando eficiencia y
      seguridad.Mi meta:Es contribuir con soluciones de
      software innovadoras que impacten positivamente.
    </p>
    <p class="pb-6 ">
      Mi objetivo es seguir aprendiendo y contribuir al desarrollo de soluciones
      de software innovadoras que impacten positivamente en la vida de las
      personas.
    </p>
  </div>
  <div>
    <img
      src="https://via.placeholder.com/300x200"
      class="rounded shadow-2xl shadow-green-90/20 mt-3"
      alt=""
    />
  </div>
</article>
