<article class="flex justify-between gap-x-2 mt-8">
  <div class="max-w-md"> 
    <p class="text-pretty">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis commodi
        quasi eaque eveniet? Deleniti doloremque excepturi eveniet ratione, libero
        porro ex aliquid repudiandae magnam soluta reiciendis perspiciatis optio
        incidunt alias? lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis commodi
        quasi eaque eveniet? Deleniti doloremque excepturi eveniet ratione, libero
        porro ex aliquid repudiandae magnam soluta reiciendis perspiciatis optio
        incidunt alias? lorem
      </div>
        </p>
  <div>
    <img src="https://via.placeholder.com/300x200" alt="">
  </div>
</article>
