---

---

<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">

  <img class="rounded-full w-12 h-12" src="https://cdn.dribbble.com/users/2602461/screenshots/17434037/media/3eba488c0b46b44b4c41fc8e087b91bc.png" alt="Foto-Perfil" />

  <nav class="flex flex-row gap-x-[42px] opacity-90">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </nav>

</header>
