<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">


  <nav class="flex flex-row gap-x-[42px] opacity-90">
    <a href="#">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#">Proyectos</a>
    <a href="#">Sobre mí</a>
    <a href="#">Conctatos</a>
  </nav>

</header>
